
<nav class="navbar">
  <a class="active" href="/main-page">Home</a>
  <a href="/admin">admin</a>
  <a href="/">Phone Search</a>
  <a href="/news">News</a>
  <a href="/register">Sign-up</a>
  <a href="/logout">Log Out</a>
</nav>
